<div class="settings-sidebar">
  <div class="sidebar-top">
    <div class="user-block">
      <div class="avatar"></div>
      <div class="name">Super Level User</div>
    </div>
    <div class="settings-close" (click)="toggleSidebar()">+</div>
  </div>

  <div class="input-block">
    <div class="filter-item">
      <label for="tenant-input">Tenant</label>
      <span class="k-dropdown-wrap">
        <span class="k-input">Logo</span>
        <span class="k-select">
          <span class="k-icon k-i-arrow-s"></span>
        </span>
      </span>
    </div>
  </div>

  <button class="logout blue">Log Out</button>
</div>
