<nav role="navigation" class="main-navigation">
  <ul>
    <li class="dashboard" [routerLinkActive]="['activated']">
      <a
        class="icon"
        [routerLink]="['/dashboard']"
        routerLinkActive="active"
      ></a>
      <div class="navigation-links">
        <a
          [routerLink]="['/dashboard']"
          routerLinkActive="active"
          [routerLinkActive]="['is-active']"
          ><span class="dashboard">Dashboard</span></a
        >
      </div>
    </li>
    <li
      class="health"
      [class.open]="healthOpen"
      [routerLinkActive]="['activated']"
    >
      <div class="icon"></div>
      <div class="navigation-links" [routerLinkActive]="['is-active']">
        <span class="parent" (click)="togglehealthClass()">Supply Chain Health</span>
        <ul>
          <li>
            <a>Network</a>
          </li>
          <li>
            <a>Footprint</a>
          </li>
          <li>
            <a>Products</a>
          </li>
        </ul>
      </div>
    </li>
    <li
      class="demand"
      [class.open]="demandOpen"
      [routerLinkActive]="['activated']"
    >
      <div class="icon"></div>
      <div class="navigation-links" [routerLinkActive]="['is-active']">
        <span class="parent" (click)="toggleDemandClass()">Demand</span>
        <ul>
          <li>
            <a
              [routerLink]="['/demandOverview']"
              [routerLinkActive]="['is-active']"
              >Overview</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/demandDiscover']"
              [routerLinkActive]="['is-active']"
              >Discover</a
            >
          </li>
          <!-- <li>
            <a
              [routerLink]="['/demandReports']"
              [routerLinkActive]="['is-active']"
              >Reports</a
            >
          </li> -->
        </ul>
      </div>
    </li>
    <li
      class="outbound"
      [class.open]="outboundOpen"
      [routerLinkActive]="['activated']"
    >
      <div class="icon"></div>
      <div class="navigation-links">
        <span class="parent" (click)="toggleOutboundClass()"
          >Outbound Shipments</span
        >
        <ul>
          <li>
            <a
              [routerLink]="['/outboundOverview']"
              [routerLinkActive]="['is-active']"
              >Overview</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/outboundDiscover']"
              [routerLinkActive]="['is-active']"
              >Discover</a
            >
          </li>
          <!-- <li>
            <a
              [routerLink]="['/outboundReports']"
              [routerLinkActive]="['is-active']"
              >Reports</a
            >
          </li> -->
        </ul>
      </div>
    </li>
    <li class="hubs" [routerLinkActive]="['activated']">
      <div class="icon" [routerLink]="['/hubs']"></div>
      <div class="navigation-links">
        <a class="no-child" [routerLink]="['/hubs']">Inventory</a>
      </div>
    </li>
    <!-- <li class="inbound status-disabled">
      <div class="icon"></div>
      <div class="navigation-links"><span>Inbound Shipments</span></div>
    </li> -->
    <li class="supply" [routerLinkActive]="['activated']">
      <div class="icon" [routerLink]="['/supply']"></div>
      <div class="navigation-links">
        <a
          class="no-child"
          [routerLink]="['/supply']"
          [routerLinkActive]="['is-active']"
          >Supply</a
        >
      </div>
    </li>
    <li class="reports" [routerLinkActive]="['activated']">
      <div class="icon" [routerLink]="['/reports']"></div>
      <div class="navigation-links">
        <a
          class="no-child"
          [routerLink]="['/reports']"
          [routerLinkActive]="['is-active']"
          >Reports</a
        >
      </div>
    </li>
    <!-- <li class="raw status-disabled"><div class="icon"></div><div class="navigation-links"><span>Raw materials</span></div></li> -->
    <li
      class="settings"
      (click)="toggleSidebar()"
      [routerLinkActive]="['activated']"
    >
      <div class="icon" [routerLink]="['/settings']"></div>
      <div class="navigation-links">
        <a [routerLink]="['/settings']" [routerLinkActive]="['is-active']"
          >Settings</a
        >
      </div>
    </li>
  </ul>
</nav>
