.openblock-area {
  width: 81px;
  pointer-events: none;
}
button.k-button.k-grid-excel,
button.k-button.k-bare.k-button-icon {
  font-size: 12px;
}

.flipped .k-grid-toolbar {
  justify-content: end;
}
