.openblock-area {
  width: 81px;
  pointer-events: none;
}
button.k-button.k-grid-excel,
button.k-button.k-bare.k-button-icon {
  font-size: 12px;
}
.k-grid-toolbar {
  opacity: 0;
  transition: 0.3s ease-in all;
  display: none;
}
.flipped .k-grid-toolbar {
  justify-content: end;
  opacity: 1;
  transition: none;
  display: flex;
}
