@import '../../../scss/global';

.buttonjump {
  position: absolute;
  right: 27px;
  background: $blue-color;
  padding: 2px 5px;
  border-radius: 5px;
  max-width: 125px;
  color: $white;
  max-height: 17px;
  overflow: hidden;
  transition: max-height 0.5s ease-out, max-width 0.3s ease-out 0.2s;

  &.open {
    max-height: 200px;
    max-width: 160px;
    transition: max-width 0.3s ease-out, max-height 0.5s ease-out 0.2s;
    
  }
  a {
    display: block;
    font-size: 12px;
    color: $white;
    padding: 7px 11px;
    white-space: nowrap;
    background: $grey-darkest-b;
    transition: $default-transition;

    &:nth-child(2n + 1) {
      background: $grey-darkest;
    }
    &:hover {
      background: $blue-color-hover !important;
    }
  }

  .jump-title {
    display: flex;
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
    gap: 7px;
    align-items: center;

    &::before {
      display: inline-block;
      background-image: url(/assets/icons/maximize.svg);
      content: '';
      width: 15px;
      height: 12px;
      background-repeat: no-repeat;
    }
    &::after {
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid $white;
      display: inline-block;
      content: '';
      margin-left: -5px;
      position: relative;
      transform: rotate(-90deg);
      transition: $default-transition;
    }
  }
}
.inner-jump-links {
  border-radius: 10px;
  margin: 5px 0 3px;
  padding-left: 0px;
  background: $grey-light-b;
}

.buttonjump.open .jump-title::after {
  transform: rotate(0deg);
}
