@font-face {
  font-family: 'Arrow Display';
  src: url('https://raw.githubusercontent.com/bigredboots/asgcs-sprint-14/master/src/assets/fonts/arrowdisplay_w_rg.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Arrow Display';
  src: url('https://raw.githubusercontent.com/bigredboots/asgcs-sprint-14/master/src/assets/fonts/arrowdisplay_w_md.woff2')
    format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Arrow Display';
  src: url('https://raw.githubusercontent.com/bigredboots/asgcs-sprint-14/master/src/assets/fonts/arrowdisplay_w_bd.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}
