@import './scss/icons';
@import './scss/global';
@import './scss/fonts';

.modal-window {
  border-radius: 10px;
  border: 1px solid #ccc;
  position: absolute;
  width: 400px;
  background: #29272a;
  padding: 10px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: 1.3s cubic-bezier(0.1, 1.1, 0.23, 1.01) all;
  opacity: 0;
}
.idle.modal-window {
  z-index: 10;
}

.modal-window .countdown {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
}
.modal-window .login-modal {
  text-align: left;
}
.modal-window .login-modal input {
  width: calc(100% - 14px);
  border-radius: 5px;
  border: 0px;
  padding: 4px 7px;
  font-size: 16px;
  margin: 0px;
}
.modal-window .login-modal label {
  font-size: 14px;
  margin: 5px 0px 0px;
}
.modal-window .login-modal .login-buttons {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 20px;
  gap: 10px;
}
.filter-modal {
  flex-flow: column;
  .filter-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .filter-title {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
  }
  .filter-close {
    position: relative;
    transform: rotate(45deg);
    font-size: 30px;
    line-height: 10px;
    cursor: pointer;
    transition: $fast-transition;

    &:hover {
      color: $white;
      transform: rotate(45deg) scale(1.2);
    }
  }
  .filter-choices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 10px;

    label {
      grid-column: 1;
      font-size: 18px;
      text-align: end;
    }
    .filter-input {
      grid-column: 2;
      align-self: center;
    }
    button {
      margin: 10px 0;
      padding: 10px 5px;
      grid-column: 2;
    }
  }
}
