<!-- <div
  kendoTooltip
  showOn="none"
  [tooltipTemplate]="template"
  filter=".k-grid td"
  (mouseover)="showTooltip($event)"
> -->
<kendo-grid
  #mylabel
  id="horizontal-grid"
  [kendoGridBinding]="gridView"
  kendoGridSelectBy="id"
  [selectedKeys]="mySelection"
  [pageSize]="30"
  [columnMenu]="{ columnChooser: false }"
  [skip]="skip"
  [groupable]="false"
  scrollable="scrollable"
  [sortable]="true"
  [reorderable]="true"
  [resizable]="true"
  [columnMenu]="{ filter: false }"
  (pageChange)="pageChange($event)"
>
  <ng-template kendoGridToolbarTemplate>
    <div class="card-title-text">Horizontal Grid Title</div>
    <div class="card-title-buttons">
      <div class="closed full-screen" (click)="closeFullscreen($event)">
        <span></span>Exit Full Screen
      </div>
      <kendo-grid-column-chooser></kendo-grid-column-chooser>
      <button kendoGridExcelCommand type="button" icon="file-excel">
        Export to Excel
      </button>
    </div>
  </ng-template>
  <kendo-grid-column media="(max-width: 500px)" title="Items" [width]="300">
    <ng-template kendoGridCellTemplate let-dataItem>
      <h4>CPN: {{ dataItem.id }}</h4>
      <dl>
        <dt>Order Type</dt>
        <dd>{{ dataItem.gender }}</dd>

        <dt>Grand Total</dt>
        <dd>{{ dataItem.full_name }}</dd>

        <dt>20 Dec 2021/dt></dt>
        <dd>{{ dataItem.job_title }}</dd>

        <dt>27 Dec 2021</dt>
        <dd>{{ dataItem.country }}</dd>

        <dt>3 Jan 2021</dt>
        <dd>{{ dataItem.budget | currency }}</dd>
      </dl>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column
    media="(min-width: 501px)"
    field="gender"
    title="Order Type"
    [width]="140"
    [locked]="true"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.gender }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    media="(min-width: 501px)"
    field="id"
    title="Grand Total"
    [width]="140"
    [locked]="true"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.id }}
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column
    media="(min-width: 501px)"
    field="full_name"
    title="20 Dec 2021"
    [width]="130"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.full_name }}
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column
    media="(min-width: 501px)"
    field="job_title"
    title="27 Dec 2021"
    [width]="130"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.job_title }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    media="(min-width: 501px)"
    field="country"
    title="3 Jan 2021"
    [width]="130"
    [class]="{ 'text-center': true }"
    [resizable]="true"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.country }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="is_online"
    media="(min-width: 501px)"
    title="10 Jan 2021"
    [width]="130"
    [class]="{ 'text-center': true }"
    [resizable]="true"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      <span *ngIf="dataItem.is_online === true" class="good">On Time</span>
      <span *ngIf="dataItem.is_online === false" class="late">-28D late</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="rating"
    title="17 Jan 2021"
    media="(min-width: 501px)"
    [width]="130"
    [resizable]="true"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.rating }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="target"
    media="(min-width: 501px)"
    title="24 Jan 2021"
    [width]="130"
    [resizable]="true"
  >
  <ng-template kendoGridCellTemplate let-dataItem>
    {{ dataItem.rating }}
  </ng-template>
</kendo-grid-column>
<kendo-grid-column
  field="target"
  media="(min-width: 501px)"
  title="31 Jan 2021"
  [width]="130"
  [resizable]="true"
>
<ng-template kendoGridCellTemplate let-dataItem>
  {{ dataItem.rating }}
</ng-template>
</kendo-grid-column>
<kendo-grid-column
field="target"
media="(min-width: 501px)"
title="7 Feb 2021"
[width]="130"
[resizable]="true"
>
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.target }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="budget"
    media="(min-width: 501px)"
    title="14 Feb 2021"
    [width]="130"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      <span [ngClass]="{ 'red text-bold': dataItem.budget < 0 }">{{
        dataItem.budget | currency
      }}</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    media="(min-width: 501px)"
    field="phone"
    title="6 Mar 2021"
    [width]="130"
  >
  </kendo-grid-column>
  <kendo-grid-column
    media="(min-width: 501px)"
    field="address"
    title="31 Mar 2021"
    [width]="130"
  >
  </kendo-grid-column>

  <kendo-grid-pdf
    fileName="Employees.pdf"
    [repeatHeaders]="true"
  ></kendo-grid-pdf>
  <kendo-grid-excel fileName="Employees.xlsx"></kendo-grid-excel>
</kendo-grid>
<!-- </div> -->
