<div class="page-container">
  <app-grid-container>
    <div gridCell class="card card-body">
      <div class="card-title">
        <div class="card-title-text">Part Overview</div>
        <div class="card-icons" #outboundpartoverview>
          <div
            class="moreinfo-icon"
            (click)="OutboundPartOverviewtoggleMoreInfo()"
          ></div>
        </div>
      </div>
      <div class="card-items charting">
        <app-donut-chart-alt></app-donut-chart-alt>
      </div>
      <!-- <div class="moreinfo-block" #ioutboundpartoverview>
        <div class="moreinfo-header">
          The content is related to the Master set of filters on the top.<br /><br />
          AFTER YOU SEARCH INSIDE THE GRID (drill down inside the grid), the
          visual on the top will not follow along. ONCE you manipulate again the
          Master Top Filters, this grid will reset and start over. "Saved
          Preferences" is a feature coming soon. In the meantime, your
          adjustments will stay during your browing sesson (reseted once you
          refresh the browser, the website or log-out). <br /><br />
          The content is related to the Master set of filters on the top.<br /><br />
          AFTER YOU SEARCH INSIDE THE GRID (drill down inside the grid), the
          visual on the top will not follow along. ONCE you manipulate again the
          Master Top Filters, this grid will reset and start over. "Saved
          Preferences" is a feature coming soon. In the meantime, your
          adjustments will stay during your browing sesson (reseted once you
          refresh the browser, the website or log-out).
        </div>
      </div> -->
    </div>
    <div gridCell class="card card-body">
      <div class="card-title">
        <div class="card-title-text">Outbound Overview</div>
        <div class="card-icons" #outboundoverview>
          <!-- <div
            class="moreinfo-icon"
            (click)="OutboundOverviewtoggleMoreInfo()"
          ></div> -->
        </div>
      </div>
      <div class="card-items charting">
        <app-donut-chart-alt></app-donut-chart-alt>
      </div>
      <!-- <div class="moreinfo-block" #ioutboundoverview>
        <div class="moreinfo-header">
          The content is related to the Master set of filters on the top.<br /><br />
          AFTER YOU SEARCH INSIDE THE GRID (drill down inside the grid), the
          visual on the top will not follow along. ONCE you manipulate again the
          Master Top Filters, this grid will reset and start over. "Saved
          Preferences" is a feature coming soon. In the meantime, your
          adjustments will stay during your browing sesson (reseted once you
          refresh the browser, the website or log-out). <br /><br />
          The content is related to the Master set of filters on the top.<br /><br />
          AFTER YOU SEARCH INSIDE THE GRID (drill down inside the grid), the
          visual on the top will not follow along. ONCE you manipulate again the
          Master Top Filters, this grid will reset and start over. "Saved
          Preferences" is a feature coming soon. In the meantime, your
          adjustments will stay during your browing sesson (reseted once you
          refresh the browser, the website or log-out).
        </div>
      </div> -->
    </div>
    <div gridCell class="card card-body">
      <div class="card-title">
        <div class="card-title-text">Summary</div>
      </div>
      <div class="card-element four-totals">
        <div class="lines">
          <div class="title">Distinct Bill TOs</div>
          <div class="numbers">9,999</div>
        </div>
        <div class="lines">
          <div class="title">Order Sales</div>
          <div class="numbers">$ 99.9M</div>
        </div>
        <div class="lines">
          <div class="title">Distinct Ship TOs</div>
          <div class="numbers">99</div>
        </div>
        <div class="lines">
          <div class="title">Orders Shipped</div>
          <div class="numbers">999</div>
        </div>
      </div>
    </div>
    <div gridCell gcColSpan="3" class="card card-body">
      <div class="card-title">
        <div class="left-side-content">
          <div class="card-title-text">Outbound Locations</div>
          <div class="filter-items">
            <div class="filter-item">
              <span class="k-dropdown-wrap">
                <span class="k-input">Display<span>$USD</span></span>
                <span class="k-select">
                  <span class="k-icon k-i-arrow-s"></span>
                </span>
              </span>
            </div>
            <div>
              <span class="map-from">FROM:</span>
              <span class="map-to">TO:</span>
            </div>
          </div>
        </div>
        <div class="card-icons" #foutboundlocationsoverview>
          <a
            class="maximize-icon"
            [routerLink]="['/outboundReportsLocations']"
          ></a>
          <!-- <div
            class="moreinfo-icon"
            (click)="FOutboundLocationsMoreInfo()"
          ></div> -->
        </div>
      </div>
      <!-- <div class="moreinfo-block" #ifoutboundlocationsoverview>
        <div class="moreinfo-header">
          The content is related to the Master set of filters on the top.<br /><br />
          AFTER YOU SEARCH INSIDE THE GRID (drill down inside the grid), the
          visual on the top will not follow along. ONCE you manipulate again the
          Master Top Filters, this grid will reset and start over. "Saved
          Preferences" is a feature coming soon. In the meantime, your
          adjustments will stay during your browing sesson (reseted once you
          refresh the browser, the website or log-out).
        </div>
      </div> -->
      <img
        src="https://stackblitz.com/files/asgcs/github/bigredboots-arrow/angular-component-library-example-part-3-progress-45zjbr/master/src/assets/images/map-two-spots-line.jpg"
      />
    </div>
  </app-grid-container>
</div>
