@import '../../../scss/global';

// Overrides of the Kendo Dark theme
.k-grid-content.k-virtual-content {
  background-color: black;
  background-image: linear-gradient(to right, black, black),
    linear-gradient(to right, black, black),
    linear-gradient(to right, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.5)),
    linear-gradient(to left, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.5));
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-size: 40px 100%, 60px 100%, 40px 100%, 60px 100%;
  background-attachment: local, local, scroll, scroll;
}

.k-grid .k-grid-content-locked .k-state-selected.k-alt td,
.k-grid .k-grid-content-locked .k-state-selected td,
.k-grid td.k-state-selected,
.k-grid tr.k-state-selected > td {
  background-color: transparent;
}
.k-grid .k-grid-content-locked .k-state-selected:hover td,
.k-grid .k-grid-content-locked .k-state-selected.k-state-hover td {
  background-color: $table-hover;
}

/* Vertical Grid formatting */
.k-grid .k-grid-content-locked tr.k-state-selected,
.k-grid .k-grid-content-locked tr.k-state-selected:hover,
.k-grid .k-grid-content-locked tr.k-state-selected.k-state-hover,
.k-grid .k-grid-content-locked tr.k-state-selected.k-alt,
.k-grid .k-grid-content-locked tr.k-state-selected td,
.k-grid td.k-state-selected,
.k-grid tr.k-state-selected > td {
  background-color: $table-hover;
  color: white;
  font-weight: 600;
  border-top: 1px solid $table-hover;
}

.k-grid tbody tr {
  transition: $default-transition;
}
.k-grid tbody tr td {
  transition: $fast-transition;
  border-top: 1px solid #151515;
  border-bottom: 1px solid #151515;
}
/* shared */
.good,
.late {
  background: #54b948;
  font-size: 12px;
  color: black;
  padding: 3px 7px;
  border-radius: 5px;
}
.late {
  background: #e31b23;
}
.filter-block {
  display: none;
}
.refresh-date {
  font-size: $smallest-font;
  color: $grey-light;
  position: relative;
  text-align: center;
}
.refresh-date .title {
  font-weight: bold;
  font-size: $small-font;
}
#vertical-grid-container .dates-block {
  display: none;
}
.fullscreened {
  .k-grid-toolbar {
    display: grid;
    align-items: center;
    background: $grey-color;
    border-radius: 10px;
    margin: 20px 20px;
    width: calc(100% - 70px);
    border: 1px solid #404040;
    padding: 0px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;

    .block-filters {
      display: flex;
      gap: 12px;
    }
    .block-filterbuttons {
      margin-top: 14px;
      display: flex;
      gap: 13px;
      margin-left: 30px;
    }
    .reports-header {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .left-side-content {
    grid-column: 1;
    grid-row: 1;
    align-items: center;
    margin: 0px 0px 0px 20px;
  }
  .filter-block {
    display: flex;
    align-items: center;
    grid-column: 1 / 4;
    grid-row: 2;
    justify-content: start;
    margin: 2px 0px 20px 20px;
  }
  &#vertical-grid-container .dates-block {
    display: block;
    grid-column: 2;
    grid-row: 1;
    margin: 20px 0px 0px 0px;
  }
  .filter-title {
    font-size: 20px;
    padding: 16px 12px 0px 0px;
    display: block;
    line-height: 10px;
  }
  .card-title-buttons {
    grid-row: 1;
    grid-column: 3;
    margin: 0px 20px 0px 0px;
  }
  .card-title-text {
    font-size: 24px;
    color: white;
  }
  .k-select {
    padding: 3px 0px;
  }
  .k-input {
    padding: 3px 6px;
  }
  .dates-block .k-dropdown .k-dropdown-wrap {
    margin-bottom: 0px;
  }

  #vertical-grid .dates-block .k-input {
    background: transparent;
    padding: 0px;
    font-size: 16px;
    color: $white;
  }
  #vertical-grid .dates-block .k-dropdown .k-dropdown-wrap .k-select {
    background: transparent;
  }
  .refresh-date .title {
    font-size: $smallest-font;
  }
}
#vertical-grid.k-grid tr:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.05);
}
.k-grid tr.k-alt {
  background-color: rgba(255, 255, 255, 0.08);
}
#vertical-grid.k-grid tbody tr:hover td {
  background-color: #0f1f26;
  color: white;
}
//enabled/disabled excel button
.excelbutton {
  &.disabled {
    background: $grey-darker;
    color: $grey-lighter;
    pointer-events: none;
  }
  .enabled-copy {
    display: inline-block;
  }
  .disabled-copy {
    display: none;
  }
  &.disabled .enabled-copy {
    display: none;
  }
  &.disabled .disabled-copy {
    display: flex;
    gap: 4px;
  }
}

