<!-- <div
  kendoTooltip
  showOn="none"
  [tooltipTemplate]="template"
  filter=".k-grid td"
  (mouseover)="showTooltip($event)"
> -->

<div id="vertical-grid-container" class="vertgrid">
  <kendo-grid
    #mylabel
    id="vertical-grid"
    [kendoGridBinding]="gridView"
    kendoGridSelectBy="id"
    [selectedKeys]="mySelection"
    [pageSize]="30"
    [columnMenu]="{ columnChooser: false }"
    [skip]="skip"
    [pageable]="{
      buttonCount: buttonCount,
      info: info,
      type: type,
      pageSizes: pageSizes,
      previousNext: previousNext,
      position: position
    }"
    [groupable]="false"
    scrollable="scrollable"
    [sortable]="true"
    [reorderable]="true"
    [resizable]="true"
    [columnMenu]="{ filter: false }"
    (pageChange)="pageChange($event)"
  >
    <ng-template kendoGridToolbarTemplate>
      <div class="reports-header">
        <div class="left-side-content">
          <div class="card-title-text">Reg Vertical Grid Title</div>
          <div class="filter-item">
            <span class="k-dropdown-wrap">
              <span class="k-input">Display<span>$USD</span></span>
              <span class="k-select">
                <span class="k-icon k-i-arrow-s"></span>
              </span>
            </span>
          </div>
        </div>
        <div class="dates-block">
          <kendo-dropdownlist
            [data]="listItems"
            [defaultItem]="defaultItem"
            textField="text"
          >
          </kendo-dropdownlist>
          <div class="refresh-date">
            <span class="title">Updated: </span>
            <span>01 Jan 2022 | 21:00PM</span>
          </div>
        </div>

        <div class="filter-block vertgrid">
          <div class="filters">
            <span class="filter-title">Filters: </span>
          </div>
          <div class="overview-filters">
            <div class="filter-container">
              <div class="block-filters">
                <div class="filter-item">
                  <div class="filter-label">Status</div>
                  <span class="k-dropdown-wrap">
                    <span class="k-input">Select</span>
                    <span class="k-select">
                      <span class="k-icon k-i-arrow-s"></span>
                    </span>
                  </span>
                </div>
                <div class="filter-item">
                  <div class="filter-label">Dates</div>
                  <span class="k-dropdown-wrap">
                    <span class="k-input">Select</span>
                    <span class="k-select"
                      ><span class="k-icon k-i-arrow-s"></span
                    ></span>
                  </span>
                </div>

                <div class="filter-item">
                  <div class="filter-label">Type</div>
                  <span class="k-dropdown-wrap">
                    <span class="k-input">Select</span>
                    <span class="k-select"
                      ><span class="k-icon k-i-arrow-s"></span
                    ></span>
                  </span>
                </div>

                <div class="filter-item">
                  <div class="filter-label">Sites</div>
                  <span class="k-dropdown-wrap"
                    ><span class="k-input">Select</span>
                    <span class="k-select"
                      ><span class="k-icon k-i-arrow-s"></span></span
                  ></span>
                </div>

                <div class="filter-item">
                  <div class="filter-label">Supplier</div>
                  <span class="k-dropdown-wrap">
                    <span class="k-input">Select</span>
                    <span class="k-select"
                      ><span class="k-icon k-i-arrow-s"></span
                    ></span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="block-filterbuttons">
            <button kendobutton="" class="secondary">Reset</button>
            <button kendobutton="" class="blue">Apply</button>
          </div>
        </div>

        <div class="card-title-buttons">
<div class="expand-screen k-button" (click)="handleExpand($event)">
  Expand
</div>

          <div
            class="opened full-screen k-button"
            (click)="openFullscreen($event)"
          >
            <span></span>Full Screen
          </div>
          <div
            class="closed full-screen k-button"
            (click)="closeFullscreen($event)"
          >
            <span></span>Exit Full Screen
          </div>
          <kendo-grid-column-chooser></kendo-grid-column-chooser>
          <button
            (click)="openModal($event)"
            [class.disabled]="isDisabled == true"
            class="blue excelbutton"
          >
            <div class="enabled-copy"><span></span>Export to Excel</div>
            <div class="disabled-copy">
              <div class="app-loader">
                <svg
                  class="spinner"
                  width="8px"
                  height="8px"
                  viewBox="0 0 10 10"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    class="path2"
                    fill="none"
                    stroke-width="2"
                    stroke-linecap="round"
                    cx="8"
                    cy="8"
                    r="8"
                  ></circle>
                </svg>
              </div>
              Processing</div
            >
          </button>
        </div>
      </div>
    </ng-template>

    <!-- <kendo-grid-column media="(max-width: 500px)" title="Items" [width]="300">
      <ng-template kendoGridCellTemplate let-dataItem>
        <h4>CPN: {{ dataItem.id }}</h4>
        <dl>
          <dt>Order Type</dt>
          <dd>{{ dataItem.gender }}</dd>

          <dt>Customer</dt>
          <dd>{{ dataItem.full_name }}</dd>

          <dt>Job Title</dt>
          <dd>{{ dataItem.job_title }}</dd>

          <dt>Country</dt>
          <dd>{{ dataItem.country }}</dd>

          <dt>Budget</dt>
          <dd>{{ dataItem.budget | currency }}</dd>
        </dl>
      </ng-template>
    </kendo-grid-column> -->

    <kendo-grid-column
      media="(min-width: 501px)"
      field="gender"
      title="Order Type"
      [width]="190"
      [locked]="true"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.gender }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      media="(min-width: 501px)"
      field="id"
      title="CPN"
      [width]="190"
      [locked]="true"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.id }}
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      media="(min-width: 501px)"
      field="full_name"
      title="Customer"
      [width]="160"
      [locked]="true"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.full_name }}
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      media="(min-width: 501px)"
      field="job_title"
      title="Job Title"
      [width]="150"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.job_title }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      media="(min-width: 501px)"
      field="country"
      title="Country"
      [width]="130"
      [class]="{ 'text-center': true }"
      [resizable]="true"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.country }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="is_online"
      media="(min-width: 501px)"
      title="Status"
      [width]="140"
      [class]="{ 'text-center': true }"
      [resizable]="true"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <span *ngIf="dataItem.is_online === true" class="good">On Time</span>
        <span *ngIf="dataItem.is_online === false" class="late">-28D late</span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="rating"
      title="Rating"
      media="(min-width: 501px)"
      [width]="110"
      [resizable]="true"
      filter="numeric"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.rating }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="target"
      media="(min-width: 501px)"
      title="Engagement"
      [width]="230"
      [resizable]="true"
      filter="numeric"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.target }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="budget"
      media="(min-width: 501px)"
      title="Budget"
      [width]="150"
      filter="numeric"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <span [ngClass]="{ 'red text-bold': dataItem.budget < 0 }">{{
          dataItem.budget | currency
        }}</span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      media="(min-width: 501px)"
      field="phone"
      title="Phone"
      [width]="130"
    >
    </kendo-grid-column>
    <kendo-grid-column
      media="(min-width: 501px)"
      field="address"
      title="Address"
      [width]="200"
    >
    </kendo-grid-column>

    <kendo-grid-pdf
      fileName="Employees.pdf"
      [repeatHeaders]="true"
    ></kendo-grid-pdf>
    <kendo-grid-excel fileName="Employees.xlsx"></kendo-grid-excel>
    <ng-template
      kendoPagerTemplate
      position="both"
      let-totalPages="totalPages"
      let-currentPage="currentPage"
    >
      <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
      <kendo-pager-numeric-buttons
        [buttonCount]="10"
      ></kendo-pager-numeric-buttons>
      <kendo-pager-next-buttons></kendo-pager-next-buttons>
      <kendo-pager-info></kendo-pager-info>
      Current page: {{ currentPage }}
    </ng-template>
  </kendo-grid>
  <!-- </div> -->
</div>
